h1 {
    margin-left: 15px;
    margin-bottom: 5px;
}

body {
    background: #E0E0E0;
    font-family: helvetica;
    color: #333;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

#header {
    margin-left: 15px;
    text-align: left;
    width: 100%;
    font-size: 13px;
}

#titletext {
    font-size: 30px;
    margin: 0;
    padding-right: 20px;
    width: 220px;
    float: left;
}

#footer {
    font-size: 11px;
}

.radio {
    font-size: 10px;
    float: left;
    padding-top: 5px;
}

#posts {
    float: block;
}

.post {
    background: #FFF;
    width: 300px;
    margin: 15px;
    float: left;
    font-size: 13px;

    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc; 
}

.post .title {
    text-align: center;
    height: 35px;
}

.post .info {
    font-size: 11px;
    color: #888;
    text-align: right;
    padding-right: 5px;
}

.post .info a {
    text-decoration: none;
    color: #888;
}

.post .info a:hover {
    text-decoration: underline;
    color: #888;
}

.post_image {
    width: 300px;
    height: 210px;
}

.post_image img {
    position: absolute;
    clip:rect(0px,300px,210px,0px);
}

.post_image_title a {
    text-decoration: none;
    color: #333;
}

.post_image_title a:hover {
    text-decoration: underline;
}

.page_wrapper {
    padding-left: 15px;
}

