h1 {
    margin-left: 6px;
    margin-bottom: 5px;
}

body {
    background: #E0E0E0;
    font-family: helvetica;
    color: #333;
}

.post {
    background: #FFF;
    width: 300px;
    margin: 6px;
    float: left;
    font-size: 13px;

    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc; 
}

.post .title {
    text-align: center;
    height: 35px;
}

.post .info {
    font-size: 11px;
    color: #888;
    text-align: right;
    padding-right: 5px;
}
